<template>
    <div>
        <Navbar drawer />
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <b-alert dismissible fade show v-if="snackbar"
                        >Registration Success
                        <b-button
                            variant="success"
                            class="ml-5"
                            @click="goLogin"
                            >Login</b-button
                        >
                    </b-alert>

                    <div class="card">
                        <div class="card-header">Register</div>

                        <div class="card-body">
                            <form class="needs-validation">
                                <div class="form-group row">
                                    <label
                                        for="name"
                                        class="col-md-4 col-form-label text-md-right"
                                        >Name</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="name"
                                            type="text"
                                            class="form-control "
                                            required
                                            autocomplete="name"
                                            autofocus
                                            name="name"
                                            v-model="form.name"
                                        />
                                        <div
                                            class="text-danger Invalid"
                                            v-if="
                                                !$v.form.name.required &&
                                                    $v.form.name.$dirty
                                            "
                                        >
                                            Name is required
                                        </div>
                                        <div
                                            class="text-danger Invalid"
                                            v-if="!$v.form.name.minLength"
                                        >
                                            Name must have at least
                                            {{
                                                $v.form.name.$params.minLength
                                                    .min
                                            }}
                                            letters.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label
                                        for="email"
                                        class="col-md-4 col-form-label text-md-right"
                                        >E-Mail Address</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="email"
                                            type="email"
                                            class="form-control"
                                            required
                                            autocomplete="email"
                                            name="email"
                                            v-model="form.email"
                                        />
                                        <div
                                            class="text-danger Invalid"
                                            v-if="
                                                !$v.form.email.required &&
                                                    $v.form.email.$dirty
                                            "
                                        >
                                            Email is required
                                        </div>
                                        <div
                                            class="text-danger Invalid"
                                            v-if="!$v.form.email.minLength"
                                        >
                                            Email must have at least
                                            {{
                                                $v.form.email.$params.minLength
                                                    .min
                                            }}
                                            letters.
                                        </div>
                                        <div
                                            class="text-danger Invalid"
                                            v-if="!$v.form.email.email"
                                        >
                                            Please Input correct Email
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label
                                        for="password"
                                        class="col-md-4 col-form-label text-md-right"
                                        >Password</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="password"
                                            type="password"
                                            class="form-control"
                                            required
                                            autocomplete="new-password"
                                            name="password"
                                            v-model="form.password"
                                        />
                                        <div
                                            class="text-danger Invalid"
                                            v-if="
                                                !$v.form.password.required &&
                                                    $v.form.password.$dirty
                                            "
                                        >
                                            Name is required
                                        </div>
                                        <div
                                            class="text-danger Invalid"
                                            v-if="!$v.form.password.minLength"
                                        >
                                            Name must have at least
                                            {{
                                                $v.form.password.$params
                                                    .minLength.min
                                            }}
                                            letters.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label
                                        for="password-confirm"
                                        class="col-md-4 col-form-label text-md-right"
                                        >Confirm Password</label
                                    >

                                    <div class="col-md-6">
                                        <input
                                            id="password-confirm"
                                            type="password"
                                            class="form-control"
                                            required
                                            autocomplete="new-password"
                                            name="password_confirmation"
                                            v-model="form.password_confirmation"
                                        />
                                        <div
                                            class="text-danger Invalid"
                                            v-if="
                                                !$v.form.password_confirmation
                                                    .sameAsPassword
                                            "
                                        >
                                            Passwords must be identical.
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row mb-0">
                                    <div class="col-md-6 offset-md-4">
                                        <button
                                            type="submit"
                                            class="btn btn-primary"
                                            @click.prevent="doRegiser"
                                        >
                                            Register
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
export default {
    data() {
        return {
            form: {
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            },
            errors: {},
            snackbar: false
        };
    },
    methods: {
        doRegiser() {
            this.$v.$touch();
            if (!this.$v.$invalid) {
                axios
                    .post("api/register", this.form)
                    .then(response => {
                        this.snackbar = true;
                        this.form.name = "";
                        this.form.email = "";
                        this.form.password = "";
                        this.form.password_confirmation = "";
                        console.log(response.data);
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
            }
        },
        goLogin() {
            this.snackbar = false;
            setTimeout(() => {
                this.$router.push("/login");
            }, 300);
        }
    },
    validations: {
        form: {
            name: {
                required,
                minLength: minLength(3)
            },
            email: {
                email,
                required,
                minLength: minLength(2)
            },
            password: {
                required,
                minLength: minLength(6)
            },
            password_confirmation: {
                sameAsPassword: sameAs("form.password")
            }
        }
    }
};
</script>
